@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');

* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}


/* Header & Nav Styles */
.header {
    background: rgba(255, 144, 14, 0.1);
}

nav {
    display: flex;
    justify-content: space-between;
    /* margin: 50px 230px; */
    padding: 50px 230px;
}

.nav-title {
    font-weight: 700;
    font-size: 45px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

/* Banner from Header */
.header_title {
    font-weight: 700;
    font-size: 64px;
    margin-left: 529px;
    margin-right: 529px;
    text-align: center;
    padding-top: 120px;
}

.header_description {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    text-align: center;
    margin-left: 526px;
    margin-right: 526px;
    margin-top: 50px;
}

.header_div_1 button {
    margin-left: 870px;
    margin-right: 870px;
    margin-top: 32px;
    margin-bottom: 50px;
}

.button-primary {
    color: white;
    font-weight: 600;
    font-size: 17px;
    border: 0;
    padding: 21px 24px;
    height: 64px;
    border-radius: 5px;
    background: lightblue;
    text-align: center;
}

.header img {
    width: 1440px;
    height: 700px;
    border-radius: 8px;
}

.banner_img {
    padding-left: 240px;
    padding-right: 240px;
    padding-bottom: 45px;
}

/* Main Section Starts */

.container {
    margin-top: 85px;
    display: flex;
    gap: 73px;
    margin: 85px 301px 130px;
    align-items: center;
}

.image_sides {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 24px;
    grid-column-gap: 24px;
}

.team img {
    width: 342px;
    height: 342px;
}

.text_sides_title {
    font-weight: 500;
    font-size: 45px;
    color: #727272;
}

.text_color_1 {
    color: black;
}

.text_color_2 {
    color: #FF900E;
}

.text_sides_description {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-top: 24px;
    margin-bottom: 32px;
}

/* container-2 starts */
/* Features styles */
.container_2 {
    display: flex;
    gap: 176px;
    margin-left: 240px;
    margin-right: 240px;
}

.features_text {
    width: 586px;
    border-left: 5px solid #FF900E;
    height: 106px;
    margin-top: 50px;
}

.features_title {
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 24px;
    padding-left: 21px;
}

.features_description {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-bottom: 30px;
}

.features_details {
    width: 586px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 30px;
    margin-bottom: 20px;
    margin-right: 54px;

}

.features_details_header {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px;
}

.features_details_description {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

.features_img {
    width: 800px;
    height: 1059px;
    margin-bottom: 130px;

}

.features_img img {
    width: 708px;
    height: 982px;
    border-radius: 8px;
}

.span_btn {
    font-weight: 700;
    font-size: 65px;
}

.btn {
    color: white;
    font-weight: 500;
    font-size: 25px;
    border: 0;
    padding: 45px 42px;
    height: 200px;
    border-radius: 5px;
    background: lightblue;
    text-align: center;
    transform: translate(-25%, -70%);
    ;
}

/* container 3 starts */
/* facts starts */
.facts_title {
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 24px;
    margin-left: 240px;
}

.facts_description {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-left: 240px;
    margin-bottom: 100px;
}
.container_3{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin-left: 100px;
    margin-right: 50px;


}
.fact_icons{
    
    border: 1px solid #FF900E;
    border-radius: 8px;
    padding: 46px 37px 60px;
    margin-bottom: 180px;
    transition: transform 3s ease;
}
.fact_icons:hover{
transform: scale(0.75);
background-color: lightblue;
}
.fact_icons img{
    width: 45.22px;
    height: 45.22px;
}

.fact_icon_title{
    font-weight: 600;
    font-size: 45px;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 5px;
}
.fact_icon_description {
    font-weight: 600;
    font-size: 20px;
    color: #727272;
}